@page "/accounts/create"
@using Client.Interfaces.Services.Core
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<MudText Typo="Typo.h4" Class="mb-4">Create New Account</MudText>

<MudForm @ref="form" @bind-IsValid="@success">
	<MudTextField T="string" Label="Account Code" Required="true" @bind-Value="_account.AccountCode"
		RequiredError=@AccountValidator.AccountCodeIsRequired />
	<MudTextField T="string" Label="Name" Required="true" @bind-Value="_account.Name"
		RequiredError=@AccountValidator.NameIsRequired />
	<MudSwitch Label="Is Active" @bind-Value="_account.IsActive" Color="Color.Primary" />

	<div class="d-flex justify-space-between mt-6">
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="@SubmitAccount">Create
			Account</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary"
			OnClick="@(() => NavigationManager.NavigateTo("/accounts"))">Cancel</MudButton>
	</div>
</MudForm>
