@using MudBlazor
@namespace Client.Layout

<MudAppBar Color="Color.Primary" Elevation="4">
	<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
		OnClick="async () => await ToggleNavMenuAsync()" />
	<MudText Typo="Typo.h6">Client</MudText>
</MudAppBar>

<MudDrawer @bind-Open="navMenuOpen" Anchor="Anchor.Left" Elevation="4">
	<MudNavMenu Class="mt-12">
		<MudNavLink Href="" Match="NavLinkMatch.All">
			<MudIcon Icon="@Icons.Material.Filled.Home" />
			<span>Home</span>
		</MudNavLink>
		<MudNavLink Href="accounts">
			<MudIcon Icon="@Icons.Material.Filled.AccountCircle" />
			<span>Accounts</span>
		</MudNavLink>
	</MudNavMenu>
</MudDrawer>
